# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Repositório Maven local dedicado
.m2/repository/

# IDEs
.idea/
.vscode/
*.iml

# SO
.DS_Store
Thumbs.db

# Logs
*.log
